@media only screen and (max-width:1192px) {
    .nav-list{
        flex-direction: column;
        position: relative;
        right: 180px;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 465px;
    }
    .logo{
       position: relative;
       left: 161px;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        visibility: hidden;
    }
   
    .section{
        flex-direction: column-reverse;
    }
    .firstSection{
        height: 360px;
    }
    .box-main{
        position: relative;
    /* top: -11px; */
    left: 81px;
    }
}